.admin_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 20px;
}
.admin_login button {
  display: flex;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.admin_login button:hover {
  background-color: #1565c0;
}
